.search-input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin: 24px 0;
    width: 100%;
}
.search-input .icon{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input .icon img{
    width: 24px;
    height: 24px;
}
.search-input input{
    border: none;
    outline: none;
    color: var(--white);
    background-color: transparent;
    width: 100%;
    padding: 9px;
    caret-color: var(--red);
}
.search-input input::placeholder{
    opacity: .5;
}
.search-input input:focus{
    border-bottom: 1px solid var(--white);
}
.search-input input[type="search"]::-webkit-search-cancel-button,
.search-input input[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
    appearance: none;
}
@media (min-width: 576px) {
    .search-input{
        gap: 16px;
        margin: 32px 0;
        padding: 0;
    }
    .search-input .icon,
    .search-input .icon img{
        width: 32px;
        height: 32px;
    }
}